@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Prompt:ital@0;1&display=swap");

/*General*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(65, 76, 180);;
}

/*Typography*/

.promt {
    font-family: "Prompt", sans-serif;
}

/*Header*/

header h1 {
    font-family: "Fredoka One", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

/*Instructions*/

.instructions-button {
    margin: 30px;
}
  
#intructions-button {
    background-color: orangered;
    color: #fff;
    border: 3px solid white;
}
  
#intructions-button:hover {
    background-color: rgb(175, 73, 36);
    border: 3px solid orange;
}

/* Modal */

.modal-header {
    background-color: orangered;
    border: 2px solid #fff;
}
  
.modal-body {
    background-color: orangered;
    color: #fff;
    border: 2px solid #fff;
}
  
.modal-footer {
    background-color: orangered;
    border: 2px solid #fff;
}
  
.modal-title {
    color: #fff;
    text-align: center;
}
  
#close-button {
    background-color: #fff;
    color: orangered;
    border: 1px solid #fff;
}
  
#close-button:hover {
    background-color: rgb(218, 218, 218);
}

/*Score Board*/

#score-board {
    background-color: #fff;
    border: 3px solid orangered;
    color: orangered;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
}

/*Player Choices*/

.rps {
    height: 150px;
    width: 150px;
    background-color: rgb(218, 212, 212);
    border: 8px solid orangered;
    border-radius: 50%;
    margin: 30px;
    padding: 10px;
}

.rps:hover {
    border-color: orange;
}

.rps-holder {
    margin-top: 30px;
}

/*Who won*/

#who-won {
    margin-top: 30px;
}

#who-won p {
    color: #fff;
    font-size: x-large;
}